body {
    font-family: arial, sans-serif;
}

header {
    font-size: 4em;
    text-align: center;
    background-color: #b5651d;
}

header {
    padding: 2px 3px;
    border: 3px solid black;
}

#author {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-align: center;
    color: red
}

h1 {
    font-family: sans-serif, helvetica;
    font-size: 2em;
    text-align: center;
    color: black;
}

h2 {
    border: 0.1em solid black;
    background-color: #FFA500;
}

img {
    width: 25%
}