Body{
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}
header{
    color: #FCFDFE;
    background-color: black;
    font-family: inconsolata;
    font-weight: 400;
    min-height: 100vh;
    text-align: center;
    padding: 0 0 5% 0;
}
header img{
    margin: 0 0 5% 0;
    background-color: black;
}
h1{
    padding: 4% 0 4% 0;
    font-family: inconsolata;
    font-weight: 700;
    font-size: 4em;
    /* tablet, mobile, desktop */
}
#intro{
text-align: center;
font-family: inconsolata;
padding: 2em 0 0 0;
}
.subhead{
font-weight: 500;
}
.byline{
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 0.85em;
    padding: 1em 0 2em 0;
}
.results{
    padding: 2em 0 0 0;
    background-color: black;
    color:#FCFDFE;
    min-height: 80vh;
}
h2{
    padding: 4% 0 4% 0;
    font-weight: 700;
    font-size: 1.75;
    text-align: center;
}
h3{
   font-size: 1.5em;
}
footer{
    margin: 4em 0 0 0;
    text-align: center;
    padding: 0 0 4em 0;
    font-size: 0.85em;
}
.blockquote{
    font-weight: 700;
    font-size: 1em;
}
a{
    color: red;
    text-decoration: none;
}
@media (max-width: 768px){
    .container{
        content:75%
    }
}
@media (max-width: 576px){
    .container{
        content: 95%
    }
}