Body {
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}

header {
    color: #FCFDFE;
    background-color: black;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    text-align: center;
}

.header {
    min-height: 100vh;
}

header img {
    margin: 0 0 5% 0;
    background-color: black;
}

h1 {
    font-family: 'Inconsolata', monospace;

    font-weight: 700;
    font-size: 4em;
    padding: 5% 0 5% 0;
}

#intro {
    text-align: center;
    font-family: 'Inconsolata', monospace;

}

.subhead {
    font-weight: 500;
    font-family: 'Inconsolata', monospace;    
}

.byline {
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 0.85em;
    padding: 1em 0 2em 0;
}

.results {
    background-color: black;
    color: #FCFDFE;
    min-height: 80vh;
}

h2 {
    padding: 4% 0 4% 0;
    font-weight: 700;
    font-family: 'Inconsolata', monospace;    
    font-size: 1.75;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    font-size: 1.5;
    font-family: 'Inconsolata', monospace;    

}

footer {
    text-align: center;
    padding: 5%;
    font-size: 0.85em;
}
footer a{
    color: #db5461;
    text-decoration: none;
}

blockquote {
    font-weight: 700;
    font-size: 1;
    color: #db5461;
    font-family: 'Inconsolata', monospace;    

}

@media (max-width: 768px) {
    .container {
        content: 75%
    }

    h1 {
        font-size: 2em;
    }
}

@media (max-width: 576px) {
    .container {
        content: 93%
    }

    h1 {
        font-weight: 800;
        font-size: 1em;
    }
}
.iframe.container {
    color: white;
}
