Body{
    text-align:center;
}
header{
background-color: #355E3B;
}
header img{
    margin: 0 0 5% 0;
    background-color: black;
}
.intro{
    color: #FCFDFE;
    border: solid black;
    background-color: black;
    font-family: inconsolata;
    font-weight: 400;
    /* need to expand out */
    }
h1{
    font-family: inconsolata;
    font-weight: 700;
    font-size: 4em;
    /* tablet, mobile, desktop */
}
