Body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header,
.footer{
    text-align: center;
    margin: 2em;
}
header img {
    width: 35%;
    margin: 0 auto;
    display: block;
}
h1 {
    font-size: 7em;
    border: 0.05em solid turquoise;
    background-color: turquoise;
}
.motto {
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    background-color: turquoise;
    color: blue;
}
h2 {
    font-size: 1.75em;
}
h2,
h3 {
    font-size: 2em;
    border: 0.05em solid rgb(116, 149, 238);
    background-color: rgb(116, 149, 238)
}
.footer {
    font-size: 1em;
    border: 0.05em solid black;
}