
Body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header img{
    text-align: center;
    width: 35%;
    margin: 0 auto; 
    display: block; 
}
h1{
font-size: 7em;
text-align: center;
border: 0.05em solid turquoise;
    background-color: turquoise;
}
.motto{
    font-size: 3.75em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border: 0.1em solid turquoise;
    background-color: turquoise;
    color:blue
}
.logo{
    text-align: center;
}

h2{
    font-size: 1.75em;
    text-align: center;
    
}

h2,
h3{
    font-size: 2em;
    text-align: center;
    border: 0.05em solid rgb(116, 149, 238);
    background-color: rgb(116, 149, 238)
}

