body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#ffc9e0;
    background-color: #ff7918;
}
header,
.footer{
    text-align: center;
    margin: 2em;
    color: #ffc9e0;
}
h4{
    color:#ff7918;
    background-color: #ffc9e0;
}
h1{
    margin: 1em;
    font-size: 3em;
}
h3{
    font-size: 1.75em;
}
.footer{
   font-size: 1em
   background-color: #ffc9e0;
}