body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#ffc9e0;
    background-color: #ff7918;
}
header,
.footer{
    text-align: center;
    margin: 2em;
    color: #ffc9e0;
}
h1{
    margin: 1em 0;
    text-align: center;
    font-size: 3em;
}
h3{
    font-size: 1.75em;
}
.footer {
    border:2px solid #ffc9e0;
    font-size: 1em;
}
nav a{
    background-color: #ffc9e0;
    text-decoration: none;
    margin: 0 0 2em 0;
    padding: 0 .5em;
    color:#ff7918
}

nav{
    text-align: center;
    margin: 0 0 2em 0;
}
